@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@600&display=swap');

body {
  font-family: 'Playfair Display', serif;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.8s ease-in-out forwards;
  animation-delay: 0.2s;
}



